export(association_matrix)
export(attribute_metrics)
export(auc_score)
export(correlation_pair)
export(discretize_dataset_equal_frequency)
export(discretize_dataset_equal_width)
export(discretize_equal_frequency)
export(discretize_equal_width)
export(entropy)
export(filter_variables)
export(mutual_information)
export(normalize_dataset)
export(normalize_variable)
export(compare_auc_values)
export(plot_association_matrix)
export(plot_auc_values)
export(plot_roc_curve)
export(read_sme_dataset)
export(sme_dataset)
export(standardize_dataset)
export(standardize_variable)
export(variance_metric)
export(write_sme_dataset)
S3method(print,sme_dataset)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,barplot)
importFrom(graphics,image)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,plot)
importFrom(utils,read.csv)
importFrom(utils,write.csv)
